# system ignore
.DS_Store
Thumbs.db

# maven/gradle ignore
target
*.war

# svn ignore
*.svn

# eclipse ignore
.settings/
.project
.classpath
.myeclipse/
.mymetadata

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# test ignore
test-output
**/Tomcat/work/**
*.class
*.pyc

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# bin ignore
*.avi
*.mov
*.rmvb
*.mkv
*.exe
*.rar
*.tgz
*.tar
*.gz
*.7z



rebel.xml
