<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 此文件中仅仅引入页面需要的公共部分和公共部分的css -->
<head th:fragment="commandHeader(title)">
	<head th:include="../templates/common/common_head :: commandHeader1(${title},false)"></head>
</head>
<head th:fragment="commandHeader1(title,background)">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title th:text=${title}></title>
	<link rel="icon" type="image/x-icon" href="/templates/icons/logo.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/jquery/jquery.treegrid.min.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap/bootstrap-theme.min.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap-treeview/bootstrap-treeview.min.css}" rel="stylesheet">
	<link th:href="@{/css/font-awesome/css/font-awesome.css}" media="all" rel="stylesheet" type="text/css">
	<!-- 文件上传 -->
	<link th:href="@{/css/bootstrap-fileinput/fileinput.css}" rel="stylesheet">
	<link th:href="@{/css/offcanvas/offcanvas.css}" rel="stylesheet">
	<link th:href="@{/css/jigsaw/jigsaw.css}" rel="stylesheet">
	
</head>
</html>