<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- 设置数据库链接 -->
    	<!-- 1.设置数据库链接用户名 -->
    	<property name="connection.username">root</property>
    	<!-- 2.设置密码 -->
    	<property name="connection.password">root</property>
    	<!-- 3.设置jdbc -->
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<!-- 4.设置链接字符串 -->
    	<property name="connection.url">jdbc:mysql:///hibernate?useUnicode=true&amp;characterEncodeing=UTF-8</property>
    	<!-- 5.方言 -->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<!-- 设置数据库 -->
    	<!-- 显示sql语句 -->
    	<property name="hibernate.show_sql">true</property>
    	<!-- 设置hibernate显示格式化的sql -->
    	<property name="hibernate.format_sql">true</property>
    	<!-- 设置数据库ddl属性 -->
    	<property name="hbm2ddl.auto">update</property>
    	<!-- 创建关系映射 -->
    	<mapping  class="Student"/>
    </session-factory>
</hibernate-configuration>
