<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <listener>
    	<listener-class>com.user.listener.SessionListener</listener-class>
    </listener>
	


	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.user.filter.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/heihei/servlet/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>StrFilter</filter-name>
		<filter-class>com.user.filter.StrFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StrFilter</filter-name>
		<url-pattern>/heihei/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>StrErrFilter</filter-name>
		<filter-class>com.user.filter.StrErrFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StrErrFilter</filter-name>
		<url-pattern>/heihei/*</url-pattern>
	</filter-mapping>
	








	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>haha</servlet-name>
		<servlet-class>com.user.c.UserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.user.c.AddUserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>SelectUserServlet</servlet-name>
		<servlet-class>com.user.c.SelectUserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>com.user.c.DefaultServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>com.user.c.ExitServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>DropUserServlet</servlet-name>
		<servlet-class>com.user.c.DropUserServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DropServlet</servlet-name>
    <servlet-class>com.user.c.DropServlet</servlet-class>
  </servlet>









	<servlet-mapping>
		<servlet-name>DropUserServlet</servlet-name>
		<url-pattern>/hehe/servlet/DropUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>haha</servlet-name>
		<url-pattern>/heihei/servlet1/UserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/heihei/servlet1/AddUserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SelectUserServlet</servlet-name>
		<url-pattern>/heihei/servlet/SelectUserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/heihei/servlet1/DefaultServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/heihei/servlet/ExitServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DropServlet</servlet-name>
    <url-pattern>/hehe/servlet/DropServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>
