 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:include="../templates/common/common_head :: commandHeader(title='config配置管理')">
 </head>
 
<body class="hold-transition skin-blue sidebar-mini">
<div th:include="../templates/common/common_js :: onloadJS()"></div>
<div class="content-wrapper ">
	 <div class="row row-offcanvas row-offcanvas-left  col-sm-12 col-xs-12">

      <div class="col-xs-12 col-sm-12">
        <p class="pull-left visible-xs">
         <button type="button" class="btn btn-link btn-xs" data-toggle="offcanvas">≡</button>
        </p>
    <div class="col-xs-4 col-sm-4 sidebar-offcanvas" th:include="../templates/common/common_leftmenu :: onloadLeftMenu(params=~{needImportJS:false})">
    </div>
    <div class="col-xs-12 col-sm-8">
	<section class="breadcrumb" th:include="../templates/common/common_bread_navigat :: onBreadNavigat(params=~{needImportJS:false})"> 
    </section>
		<div id="toolbar" class="btn-group">
           <button id="btn_reload" type="button" class="btn  btn-success" onclick="btn_reload()">
               <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>config重新装载
           </button>
		</div>
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#boot" data-toggle="tab">
				业务配置
				</a>
			</li>
			<li><a href="#config" data-toggle="tab">底层配置</a></li>
		</ul>
	
	<div id="myTabContent" class="tab-content">
		<div class=" tab-pane fade in active" id="boot">
		      <div class="row">
		         <div class="panel-body" style="padding-bottom:0px;">
		           <div class="box">
		            <!-- /.box-header -->
		            <div class="box-body">
		        <table id="boot_customer" data-response-handler="responseHandler">
		        </table>
		         </div>
		        </div>
		    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </div>
      
      <div class=" tab-pane fade" id="config">
		      <div class="row">
		         <div class="panel-body" style="padding-bottom:0px;">
		           <div class="box">
		            <!-- /.box-header -->
		            <div class="box-body">
		        <table id="config_customer" data-response-handler="responseHandler">
		        </table>
		         </div>
		        </div>
		    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </div>
    <!-- /.content -->
</div>
</div>
</div>  
</div>
</div>
<footer th:include="../templates/common/common_footer :: commandFooter()"></footer>
</body>







 <script >
 
 selections = [];
 //{id:id选择器,name:名称,sqlname:sql名称,compareMethod:比较方式,prefix:表名前缀}
 $(function () {
	 //初始化界面查询条件相关
	 reloadData_boot();
	 reloadData_config();

 });
 function reloadData_boot(){
	 //1.初始化Table
	 var oTable = new TableInit();
	 oTable.Init();
	
	 //2.初始化Button的点击事件
	 var oButtonInit = new ButtonInit();
	 oButtonInit.Init();
 }
 
 function reloadData_config(){
	 //1.初始化Table
	 var oTable = new TableInitConfig();
	 oTable.Init();
	
	 //2.初始化Button的点击事件
	 var oButtonInit = new ButtonInit();
	 oButtonInit.Init();
 }


 var TableInit = function () {
     var oTableInit = new Object();
     //初始化Table
     oTableInit.Init = function () {
         $('#boot_customer').bootstrapTable({
             url: '/configManager/getProperties',         //请求后台的URL（*）
             method: 'get',                      //请求方式（*）
             //toolbar: '#toolbar',                //工具按钮用哪个容器
             striped: true,                      //是否显示行间隔色
             cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
             pagination: true,                   //是否显示分页（*）
             sortable: false,                     //是否启用排序
             sortOrder: "asc",                   //排序方式
             queryParams: oTableInit.queryParams,//传递参数（*）
             sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
             pageNumber:1,                       //初始化加载第一页，默认第一页
             pageSize: 10,                       //每页的记录行数（*）
             pageList: [10,20],        //可供选择的每页的行数（*）
             search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
             strictSearch: true,
             showColumns: true,                  //是否显示所有的列
             showRefresh: true,                  //是否显示刷新按钮
             minimumCountColumns: 2,             //最少允许的列数
             clickToSelect: true,                //是否启用点击选中行
             height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
             uniqueId: "key",                     //每一行的唯一标识，一般为主键列
             showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
             cardView: false,                    //是否显示详细视图
             detailView: false,                   //是否显示父子表onEditableSave
             columns: [ {
                 field: 'key',
                 title: '键'
                 
             }, {
                 field: 'value',
                 title: '值'
              
             }
             
             ]
         });
     };
     
    

     //得到查询的参数
   oTableInit.queryParams = function (params) {
         var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        		 types:"boot"
         };
         return temp;
     };
     return oTableInit;
 };
 
 var TableInitConfig = function () {
     var oTableInit = new Object();
     //初始化Table
     oTableInit.Init = function () {
         $('#config_customer').bootstrapTable({
             url: '/configManager/getProperties',         //请求后台的URL（*）
             method: 'get',                      //请求方式（*）
             //toolbar: '#toolbar',                //工具按钮用哪个容器
             striped: true,                      //是否显示行间隔色
             cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
             pagination: true,                   //是否显示分页（*）
             sortable: false,                     //是否启用排序
             sortOrder: "asc",                   //排序方式
             queryParams: oTableInit.queryParams,//传递参数（*）
             sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
             pageNumber:1,                       //初始化加载第一页，默认第一页
             pageSize: 10,                       //每页的记录行数（*）
             pageList: [10,20],        //可供选择的每页的行数（*）
             search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
             strictSearch: true,
             showColumns: true,                  //是否显示所有的列
             showRefresh: true,                  //是否显示刷新按钮
             minimumCountColumns: 2,             //最少允许的列数
             clickToSelect: true,                //是否启用点击选中行
             height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
             uniqueId: "key",                     //每一行的唯一标识，一般为主键列
             showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
             cardView: false,                    //是否显示详细视图
             detailView: false,                   //是否显示父子表onEditableSave
             columns: [ {
                 field: 'key',
                 title: '键'
                 
             }, {
                 field: 'value',
                 title: '值'
              
             }
             
             ]
         });
     };
     oTableInit.queryParams = function (params) {
         var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
         };
         return temp;
     };
     return oTableInit;
 };
 


 var ButtonInit = function () {
     var oInit = new Object();
     var postdata = {};

     oInit.Init = function () {
         //初始化页面上面的按钮事件
     };

     return oInit;
 };

 function btn_reload(){
	 $("#btn_reload").attr("disabled",true);
	 $.ajax({
         type: "POST",
         url: "/configManager/reloadProperties",
         data: { remote:true },
         success: function (data, status) {
        	 //完成
         },
         error: function () {
         },
         complete: function () {
        	 $("#btn_reload").attr("disabled",false);
        	 $('#boot_customer').bootstrapTable('refresh');
        	 $('#config_customer').bootstrapTable('refresh');
         }

     });
 }
//      function getIdSelections() {
//          return $.map($('#tb_customer').bootstrapTable('getSelections'), function (row) {
//              return row.mid
//          });
//      }

     
     function responseHandler(res) {
         $.each(res, function (i, row) {
             row.state = $.inArray(row.id, selections) !== -1;
         });
         return res;
     }
 </script>
 </html>