 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:include="../templates/common/common_head :: commandHeader(title='测试文件上传')">
 </head>
 
<body class="hold-transition skin-blue sidebar-mini">
<div th:include="../templates/common/common_js :: onloadJS()"></div>
	<div class="content-wrapper ">
	 <div class="row row-offcanvas row-offcanvas-left  col-sm-12 col-xs-12">

      <div class="col-xs-12 col-sm-12">
        <p class="pull-left visible-xs">
          <button type="button" class="btn btn-link btn-xs" data-toggle="offcanvas">≡</button>
        </p>
    <div class="col-xs-4 col-sm-4 sidebar-offcanvas" th:include="../templates/common/common_leftmenu :: onloadLeftMenu(params=~{needImportJS:false})">
    </div>
    <div class="col-xs-12 col-sm-8">
    <section class="breadcrumb" th:include="../templates/common/common_bread_navigat :: onBreadNavigat(params=~{needImportJS:false})"> 
    </section>
	<div class="file-loading">
        <input id="file-es" name="file-es[]" type="file" multiple>
    </div>
    </div>
   </div>
   </div>
   </div>
    <script>
    	$('#file-es').fileinput({
	        theme: 'fa',
	        language: 'es',
	        uploadUrl: '/fileupload/batch/upload',
	        allowedFileExtensions: ['jpg', 'png', 'gif','txt']
    	}).on("fileuploaded",function (event, data, previewId, index){
    	});
    </script>
    <footer th:include="../templates/common/common_footer :: commandFooter()"></footer>
    
</body>
</html>