<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:include="../templates/common_head :: commandHeader(title='测试商品列表')">
</head>
<body>
	<div th:include="common_js :: onloadJS()"></div>
	<!-- 	<a href="#" onclick="javascript:history.back(-1);"> 返回</a> -->
	<div class="container" style="padding-top:10px">
		<nav class="navbar navbar-default navbar-fixed-top"
			style="background: red">
			<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12"
				align="center">
				<div align="left" style="color: coral"
					class="col-lg-2 col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-left"></div>
				<a href="#" onclick="javascript:history.back(-1);"> 返回</a>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- 大屏幕放3张略缩图，pc端放4张，平板和手机放6张-->
			<div class="thumbnail">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
					<img src="../assets/images/client-1.jpg" alt="..."
						class="img-responsive">
				</div>
				<div class="caption col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="center"
						style="border: 1px solid #ccc; padding: 2px">佣 金 1 2 %</span> <span
						class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
						09-12 12:34</span> <br />
					<h4>vivo X9s Plus</h4>
					<p style="color: red;" class="text-justify">
						2000万柔光双摄内置&nbsp;&nbsp;震撼HIFI音效&nbsp;&nbsp;&nbsp;便等哈圣诞节快乐撒谎空间的哈萨克的撒活动空间撒欢的健康很少看见啊获得的挥洒捐款活动空间撒谎分开久了会大黄蜂的快乐静安寺发挥的空间撒化肥科技大厦空间发挥的空间撒化肥空间的哈萨克解放后的世界安康发的还是恐惧阿富汗空间的哈释放空间很大空间啊十分考究的哈佛空间的很快就爱上符合当时看见阿富汗空间的沙发客觉得很是愧疚啊划分空间大沙发科技活动空间撒饭的换手机卡发挥空间大煞风景客户的科技示范的会计师健康哈角度看很快就撒谎的空间哈萨克接电话时爱的很快就撒谎的空间哈萨克计划的开局撒谎的空间撒但还是看见啊活动空间沙坑觉得很是愧疚啊回到家凯撒还贷款静安寺但很快就撒谎的空间撒谎空间的很少看见啊回到家凯撒很简单沙坑觉得好看静安寺等哈手机客户端空间撒谎的空间哈萨克觉得好看就撒谎的空间沙迪克静安寺捷一屏两用大家撒KDJ看来是骄款i哦了片；哦iU影和提供法人韬光养晦巨款i哦老婆；iU影还提供乳房</p>
					<div class="col-lg-12 col-md-612 col-sm-12 col-xs-12"
						style="color: red;">
						￥ 123<span> &nbsp;&nbsp;<del>$456</del></span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
						style="color: red;" align=center>
						<button class="col-lg-12 col-md-12 col-sm-12 col-xs-12" value="测试">一键推广</button>
					</div>
					<p></p>
					<div style="padding-top: 10px"
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
						<button class="col-lg-12 col-md-12 col-sm-12 col-xs-12" value="测试">原始文案</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>