 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  <head> -->
<!--    <title>aplex Bootstrap</title> -->
<!--    <meta charset="utf-8"> -->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
<!--    <script src="/js/jquery.js"></script> -->
<!--    <script src="/js/bootstrap.min.js"></script> -->
<!--  </head> -->
 <head th:include="common_head :: commandHeader('测试标题')">
 </head>
 
 <body>
 <div th:include="common_js :: onloadJS()"></div>
 <small>本行内容是在标签内</small><br>
 <strong>本行内容是在标签内</strong><br>
 <em>本行内容是在标签内，并呈现为斜体</em><br>
 <p class="text-left">向左对齐文本</p>
 <p class="text-center">居中对齐文本</p>
 <p class="text-right">向右对齐文本</p>
 <p class="text-muted">本行内容是减弱的</p>
 <p class="text-primary">本行内容带有一个 primary class</p>
 <p class="text-success">本行内容带有一个 success class</p>
 <p class="text-info">本行内容带有一个 info class</p>
 <p class="text-warning">本行内容带有一个 warning class</p>
 <p class="text-danger">本行内容带有一个 danger class</p>
 </body>
 
 </html>