<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test-Spring-001</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置filter -->
<!--   <filter> -->
<!--   	<description>shiro权限拦截</description> -->
<!--   	<filter-name>shiroFilter</filter-name> -->
<!--   	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--   	<init-param> -->
<!--   		<param-name>targetFilterLifecycle</param-name> -->
<!--   		<param-value>true</param-value> -->
<!--   	</init-param> -->
<!--   </filter> -->
  <!-- 加载webservice -->
<!--   <listener> -->
<!-- 	<listener-class>xyz.zyzhu.initlistener.LoadWebServiceImpl</listener-class> -->
<!--   </listener> -->
  <!-- 加载配置信息 --> 
<!--   <listener> -->
<!-- 	<listener-class>xyz.zyzhu.initlistener.LoadConfigListener</listener-class> -->
<!--   </listener> -->
  <servlet>
    <servlet-name>springDispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:cfg/springMVC.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>